{% extends 'base.html.twig' %}

{% block title %}Inicio - Biblioteca{% endblock %}

{% block body %}
    <h2>¡Bienvenido a la Biblioteca Virtual!</h2>
    <p>Explora, descubre y gestiona tus libros favoritos.</p>
{% endblock %}
